.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: center;
}

.custom-table td {
  /* border: 2px dotted #4a4574; */
  border-left: none;
  border-right: 1px dotted #4a4574;
  border-bottom: 1px solid #ddd;
}

.custom-table td:last-child {
  border-right: none;
}

.custom-table tr:hover {
  background-color: #fef6d9;
}

.custom-table th {
  background-color: #f4ebff;
  font-weight: 600;
}

.table-container {
  overflow-x: auto;
}

.custom-table thead tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.custom-table thead tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
